.body {
    font-family: 'Merriweather', serif;
    font-family: 'Rubik', sans-serif;
    }

/*This removes the Questions and Scores input during the Quiz*/    
.remove {
    display: none;
}

.h3 {
    display: block;
    color: black;
}

.highscore {
    text-align: left;
    font-size: x-large;
    padding-left: 100px;
}

.clock {
    text-align: right;
    font-size: x-large;
    padding-right: 100px;
}

.start-class {
    text-align: center;
}

.footer {
    text-align: center;
    font-size: x-large;
    padding: 100px;
}

a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

a:hover {
    box-shadow: inset 100px 0px 0px 50px #54b3d6;
    color: white;
  }

/*This section is for the buttons*/

    .start-button {
        display: inline-block;
        border-radius: 4px;
        background-color: #43606d;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .start-button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .start-button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .start-button:hover span {
        padding-right: 25px;
      }
      
      .start-button:hover span:after {
        opacity: 1;
        right: 0;
      }






      

    