.body {
    font-family: 'Merriweather', serif;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    }


.highscore {
    text-align: left;
    font-size: x-large;
    padding-left: 100px;
}

.clock {
    text-align: right;
    font-size: x-large;
    padding-right: 100px;
}

.start-class {
    text-align: center;
}

.remove {
  display: none;
}

.response {
  font-size: x-large;
  color: black;
  text-align: center;
}

.footer {
    text-align: center;
    font-size: x-large;
    padding: 100px;
    display: block;
}


/*This section is for the buttons*/

    .start-button {
        display: inline-block;
        border-radius: 4px;
        background-color: #43606d;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .start-button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .start-button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .start-button:hover span {
        padding-right: 25px;
      }
      
      .start-button:hover span:after {
        opacity: 1;
        right: 0;
      }

      
      .option-button {
        appearance: button;
        background-color: #43606d;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: din-round,sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 13px 16px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
      }
      
      .option-button:after {
        background-clip: padding-box;
        background-color: #43606d;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }
      
      .option-button:main,
      .button-19:focus {
        user-select: auto;
      }
      
      .option-button:hover:not(:disabled) {
        filter: brightness(1.1);
        -webkit-filter: brightness(1.1);
      }
      
      .option-button:disabled {
        cursor: auto;
      }

.finalScore {
text-align: center;
font-size: x-large;
}

.score-button {
  display: block;
  border-radius: 4px;
  background-color: #43606d;
  border:#43606d;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}









      

    